<h2>Book Detail</h2>
  <div class="user-image">
  <%= attachment_image_tag @user, :profile_image, size: "100x100", fallback: "no_image.jpg" %>
  <h4 class="user-name"><%= link_to @user.name, user_path %></h4>
  <% @books.each do |book| %>
    <%= book.title %>
    <%= book.body %>
    <%= link_to "Edit", edit_book_path, class: "btn btn-success" %>
    <%= link_to "Destroy", book_path, class: "btn btn-danger", method: :delete, "data-confirm" => "Are you sure?" %>
  <% end %>